/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  /*background-color: rgb(25,25,25); */
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=20);
  max-height: 800px;
    
}

a
{
    text-decoration: none;
    color: rgba(255,255,255,.75);
}
.conteudo-central
{   
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 48%;/*45%;*/
}

.ajuste-centro
{
    margin: 0 auto 50px 0; 
    text-align: center;
}

.gear
{
    position: absolute;
    top: auto;
    font-size: 2.5em;
    
}

#arquivo
{
    font-size: 8em;
}

.line-1{
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;     
}

.anim-typewriter{
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation: 
            typewriter 1s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.bloco-social
{
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 15px;
}

#bloco-facebook
{
    font-size: 4em;
}

#bloco-instagram
{
    font-size: 4em;
}
#bloco-gitlab
{
	font-size: 4em;
}
#bloco-github
{
	font-size: 4em;
}
#bloco-linkedin
{
    font-size: 4em;
}
.ajuste-centro-blocos
{
    margin: 50px auto 50px 0; 
    text-align: center;
    display: block;
}

.rodape
{
    font-size: 0.9em;
}

a[title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {display: none;}

/* ----- */

@-moz-keyframes glitch {
  0% {
    -moz-transform: skew(-86deg);
    transform: skew(-86deg);
  }
  5% {
    -moz-transform: skew(42deg);
    transform: skew(42deg);
  }
  10% {
    -moz-transform: skew(-61deg);
    transform: skew(-61deg);
  }
  15% {
    -moz-transform: skew(82deg);
    transform: skew(82deg);
  }
  20% {
    -moz-transform: skew(52deg);
    transform: skew(52deg);
  }
  25% {
    -moz-transform: skew(0deg);
    transform: skew(0deg);
  }
  30% {
    -moz-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  35% {
    -moz-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  40% {
    -moz-transform: skew(63deg);
    transform: skew(63deg);
  }
  45% {
    -moz-transform: skew(-63deg);
    transform: skew(-63deg);
  }
  50% {
    -moz-transform: skew(54deg);
    transform: skew(54deg);
  }
  55% {
    -moz-transform: skew(6deg);
    transform: skew(6deg);
  }
  60% {
    -moz-transform: skew(7deg);
    transform: skew(7deg);
  }
  65% {
    -moz-transform: skew(-43deg);
    transform: skew(-43deg);
  }
  70% {
    -moz-transform: skew(-13deg);
    transform: skew(-13deg);
  }
  75% {
    -moz-transform: skew(4deg);
    transform: skew(4deg);
  }
  80% {
    -moz-transform: skew(-62deg);
    transform: skew(-62deg);
  }
  85% {
    -moz-transform: skew(55deg);
    transform: skew(55deg);
  }
  90% {
    -moz-transform: skew(74deg);
    transform: skew(74deg);
  }
  95% {
    -moz-transform: skew(-55deg);
    transform: skew(-55deg);
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: skew(36deg);
    transform: skew(36deg);
  }
  5% {
    -webkit-transform: skew(66deg);
    transform: skew(66deg);
  }
  10% {
    -webkit-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  15% {
    -webkit-transform: skew(-66deg);
    transform: skew(-66deg);
  }
  20% {
    -webkit-transform: skew(-38deg);
    transform: skew(-38deg);
  }
  25% {
    -webkit-transform: skew(23deg);
    transform: skew(23deg);
  }
  30% {
    -webkit-transform: skew(47deg);
    transform: skew(47deg);
  }
  35% {
    -webkit-transform: skew(25deg);
    transform: skew(25deg);
  }
  40% {
    -webkit-transform: skew(-55deg);
    transform: skew(-55deg);
  }
  45% {
    -webkit-transform: skew(31deg);
    transform: skew(31deg);
  }
  50% {
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
  }
  55% {
    -webkit-transform: skew(-55deg);
    transform: skew(-55deg);
  }
  60% {
    -webkit-transform: skew(-4deg);
    transform: skew(-4deg);
  }
  65% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(25deg);
    transform: skew(25deg);
  }
  75% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }
  80% {
    -webkit-transform: skew(71deg);
    transform: skew(71deg);
  }
  85% {
    -webkit-transform: skew(-60deg);
    transform: skew(-60deg);
  }
  90% {
    -webkit-transform: skew(31deg);
    transform: skew(31deg);
  }
  95% {
    -webkit-transform: skew(-28deg);
    transform: skew(-28deg);
  }
}
@keyframes glitch {
  0% {
    -moz-transform: skew(83deg);
    -ms-transform: skew(83deg);
    -webkit-transform: skew(83deg);
    transform: skew(83deg);
  }
  5% {
    -moz-transform: skew(-3deg);
    -ms-transform: skew(-3deg);
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  10% {
    -moz-transform: skew(51deg);
    -ms-transform: skew(51deg);
    -webkit-transform: skew(51deg);
    transform: skew(51deg);
  }
  15% {
    -moz-transform: skew(-59deg);
    -ms-transform: skew(-59deg);
    -webkit-transform: skew(-59deg);
    transform: skew(-59deg);
  }
  20% {
    -moz-transform: skew(7deg);
    -ms-transform: skew(7deg);
    -webkit-transform: skew(7deg);
    transform: skew(7deg);
  }
  25% {
    -moz-transform: skew(-58deg);
    -ms-transform: skew(-58deg);
    -webkit-transform: skew(-58deg);
    transform: skew(-58deg);
  }
  30% {
    -moz-transform: skew(77deg);
    -ms-transform: skew(77deg);
    -webkit-transform: skew(77deg);
    transform: skew(77deg);
  }
  35% {
    -moz-transform: skew(86deg);
    -ms-transform: skew(86deg);
    -webkit-transform: skew(86deg);
    transform: skew(86deg);
  }
  40% {
    -moz-transform: skew(82deg);
    -ms-transform: skew(82deg);
    -webkit-transform: skew(82deg);
    transform: skew(82deg);
  }
  45% {
    -moz-transform: skew(41deg);
    -ms-transform: skew(41deg);
    -webkit-transform: skew(41deg);
    transform: skew(41deg);
  }
  50% {
    -moz-transform: skew(-52deg);
    -ms-transform: skew(-52deg);
    -webkit-transform: skew(-52deg);
    transform: skew(-52deg);
  }
  55% {
    -moz-transform: skew(-64deg);
    -ms-transform: skew(-64deg);
    -webkit-transform: skew(-64deg);
    transform: skew(-64deg);
  }
  60% {
    -moz-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
  }
  65% {
    -moz-transform: skew(71deg);
    -ms-transform: skew(71deg);
    -webkit-transform: skew(71deg);
    transform: skew(71deg);
  }
  70% {
    -moz-transform: skew(3deg);
    -ms-transform: skew(3deg);
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  75% {
    -moz-transform: skew(42deg);
    -ms-transform: skew(42deg);
    -webkit-transform: skew(42deg);
    transform: skew(42deg);
  }
  80% {
    -moz-transform: skew(-61deg);
    -ms-transform: skew(-61deg);
    -webkit-transform: skew(-61deg);
    transform: skew(-61deg);
  }
  85% {
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  90% {
    -moz-transform: skew(83deg);
    -ms-transform: skew(83deg);
    -webkit-transform: skew(83deg);
    transform: skew(83deg);
  }
  95% {
    -moz-transform: skew(39deg);
    -ms-transform: skew(39deg);
    -webkit-transform: skew(39deg);
    transform: skew(39deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: -37px 9px;
  }
  10% {
    background-position: -27px -75px;
  }
  20% {
    background-position: -21px 3px;
  }
  30% {
    background-position: 3px -71px;
  }
  40% {
    background-position: -72px 88px;
  }
  50% {
    background-position: -71px 81px;
  }
  60% {
    background-position: -89px -26px;
  }
  70% {
    background-position: 97px -24px;
  }
  80% {
    background-position: 72px -39px;
  }
  90% {
    background-position: -98px 98px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: 24px 69px;
  }
  10% {
    background-position: -62px -14px;
  }
  20% {
    background-position: 37px -95px;
  }
  30% {
    background-position: -26px 24px;
  }
  40% {
    background-position: 50px 87px;
  }
  50% {
    background-position: -2px 2px;
  }
  60% {
    background-position: -70px 46px;
  }
  70% {
    background-position: 54px -23px;
  }
  80% {
    background-position: 59px -10px;
  }
  90% {
    background-position: 55px 27px;
  }
}
@keyframes noise {
  0% {
    background-position: -47px 36px;
  }
  10% {
    background-position: -72px -44px;
  }
  20% {
    background-position: -37px 76px;
  }
  30% {
    background-position: -84px 85px;
  }
  40% {
    background-position: 42px 6px;
  }
  50% {
    background-position: -90px 63px;
  }
  60% {
    background-position: 8px 40px;
  }
  70% {
    background-position: -35px -60px;
  }
  80% {
    background-position: -34px 83px;
  }
  90% {
    background-position: -1px 72px;
  }
}
@-moz-keyframes bar {
  0% {
    height: 35px;
    top: 50%;
    opacity: 0.53;
  }
  10% {
    height: 202px;
    top: 82%;
    opacity: 0.02;
  }
  20% {
    height: 302px;
    top: 12%;
    opacity: 0.2;
  }
  30% {
    height: 127px;
    top: 8%;
    opacity: 0.39;
  }
  40% {
    height: 214px;
    top: 5%;
    opacity: 0.21;
  }
  50% {
    height: 374px;
    top: 81%;
    opacity: 0.11;
  }
  60% {
    height: 39px;
    top: 18%;
    opacity: 0.07;
  }
  70% {
    height: 432px;
    top: 86%;
    opacity: 0.34;
  }
  80% {
    height: 337px;
    top: 100%;
    opacity: 0.16;
  }
  90% {
    height: 61px;
    top: 48%;
    opacity: 0.27;
  }
}
@-webkit-keyframes bar {
  0% {
    height: 239px;
    top: 15%;
    opacity: 0.18;
  }
  10% {
    height: 295px;
    top: 27%;
    opacity: 0.25;
  }
  20% {
    height: 422px;
    top: 33%;
    opacity: 0.69;
  }
  30% {
    height: 215px;
    top: 83%;
    opacity: 0.01;
  }
  40% {
    height: 337px;
    top: 87%;
    opacity: 0.16;
  }
  50% {
    height: 397px;
    top: 82%;
    opacity: 0.68;
  }
  60% {
    height: 337px;
    top: 53%;
    opacity: 0.51;
  }
  70% {
    height: 412px;
    top: 66%;
    opacity: 0.23;
  }
  80% {
    height: 286px;
    top: 27%;
    opacity: 0.42;
  }
  90% {
    height: 565px;
    top: 70%;
    opacity: 0.65;
  }
}
@keyframes bar {
  0% {
    height: 243px;
    top: 50%;
    opacity: 0.51;
  }
  10% {
    height: 230px;
    top: 15%;
    opacity: 0.36;
  }
  20% {
    height: 305px;
    top: 88%;
    opacity: 0.77;
  }
  30% {
    height: 524px;
    top: 4%;
    opacity: 0.27;
  }
  40% {
    height: 450px;
    top: 100%;
    opacity: 0.3;
  }
  50% {
    height: 176px;
    top: 87%;
    opacity: 0.55;
  }
  60% {
    height: 31px;
    top: 80%;
    opacity: 0.8;
  }
  70% {
    height: 550px;
    top: 95%;
    opacity: 0.32;
  }
  80% {
    height: 517px;
    top: 95%;
    opacity: 0.34;
  }
  90% {
    height: 215px;
    top: 18%;
    opacity: 0.23;
  }
}
.glitch {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* color: #fff; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    /* font: 15px "Michroma", helvetica, sans-serif; */
    /* letter-spacing: 0.6em; */
    /*text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;*/
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=20);
    -moz-animation: noise 0.3s infinite;
    -webkit-animation: noise 0.3s infinite;
    animation: noise 0.3s infinite;
}
.glitch:before {
  /*content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;*/
}
.glitch:after {
    /* content: ""; */
    /* display: block; */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=40);
    -moz-animation: bar 0.5s infinite;
    -webkit-animation: bar 0.5s infinite;
    animation: bar 0.5s infinite;
}
.glitch span {
    /* display: inline-block; 
    vertical-align: middle;
    position: relative;*/
    z-index: 1;
    -moz-animation: glitch 3s infinite alternate;
    -webkit-animation: glitch 3s infinite alternate;
    animation: glitch 3s infinite alternate;
}

